.container {
  background-color: #3a3735;
  color: white;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.5rem;
  font-family: "Handlee", cursive;
  font-style: oblique;
  font-weight: bold;
}

.logo {
  font-size: x-large;
  margin-right: 2rem;
}

