.container {
  background-image: url(../Img/meal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-family: "Handlee", cursive;
  font-style: oblique;
  font-weight: bold;
}

.container2 {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  margin-left: 3rem;
  width:500px;
  border-radius: 30px;
  height: 820px;
  font-size:24px;
}

.h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.form {
  align-content: center;
  display: grid;
  grid-auto-columns: auto auto;
  text-align: center;
  justify-content: flex-start;
  width: 500px;
  margin-left: 1.5rem;
}

.input {
  font-size: 1rem;
  text-align: center;
  align-content: center;
  width: 28rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0.3rem 0 0.3rem 0;
  font-family: "Handlee", cursive;
  font-style: oblique;
  font-weight: bold;
}

.divscore {
  margin: 0.3rem 0 0.3rem 0;
}

.inputN {
  font-size: 1rem;
  text-align: center;
  align-content: center;
  width: 14rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Handlee", cursive;
  font-style: oblique;
  font-weight: bold;
}

.check {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Handlee", cursive;
  font-style: oblique;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.button:active{
  border: transparent;
}
