.paginado {
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.button{
    background-color: hsla(0, 0%, 100%, 0.600);
    width: 4rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.513);
    color: white;
    border: transparent
}

.button::selection{
    background-color: rgba(0, 0, 0, 0.513);
    color: white;
    border: transparent
}